
data/
python/__pycache__/
*.png
.vscode/
cache/
.ipynb_checkpoints/
*.pyc

*.mx
*.df
*.ox
*.dict
*.tab

!osmnx_pathfinding_simplified.df
!observations_matched_simplified.df
!dbscan_observations.tab
!voxels_clustered_osmnx.dict
!num_test.tab
!loss.tab
!predict.tab
!graph_modifications.dict
